name: CI

on:
  pull_request:
    branches: [ '*' ]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.0'
        cache: true
        cache-dependency-path: 'go.sum'

    - name: Install backend dependencies
      run: go mod download

    - name: Run backend tests
      run: go test ./...

    - name: Build backend
      run: go build -v ./...
